<html>
<head>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
</head>
<body>
    <div class="wrapper fadeInDown">
        <div id="formContent">
            <div class="formu">
            <label>Nombre a buscar</label>
            <input type="text" [(ngModel)]="nombrePelicula">
            <button (click)="buscarPelicula(nombrePelicula)" class="btn btn-primary">Buscar Película</button>

            <button (click)="buscarUsuario(nombrePelicula)" class="btn btn-primary">Buscar Usuario</button>
            </div>
        </div>
      </div>
</body>
</html>









